<% include ../partials/header %>

<div class="container">
    
    <h3><%= patient.firstname + " " + patient.surname %>'s Uploaded Documents</h3>
    <input type="hidden" value="<%= patient._id %>" id="patient-id">

    <form class="document-form" action="/patients/<%= patient._id %>/documents" method="POST" enctype="multipart/form-data">
        <div class="form-row">

            <div class="form-group d-flex justify-content-start flex-wrap">
                <% patient.documents.forEach(function(document, i){ %>
                    <div class="mx-1">
                        <a href="/patients/<%= patient._id%>/documents/<%= document._id %>"><img class="img-thumbnail" src="<%= document.url %>" alt="uploaded document" width="150px" id="document<%= i %>"></a>
                        <div>    
                            <%= moment(document.date_created).format('DD/MM/YYYY') %>
                        </div>
                        <div>
                            <input type="checkbox" name="deleteDocuments[]" class="documentDeleteCheckbox" id="document<%= i %>" value="<%= document._id %>">
                            <label for="document<%= i %>">Select</label>
                        </div>    
                    </div>                   
                <% }); %>
            </div>

            <div class="form-group col-12 upload-tools">
                <input type="file" accept="images/*" name="documents" multiple>
            </div>
            <div class="form-group col-12 upload-tools">
                <input class="btn btn-success" type="submit">
                <div class="btn btn-warning cancel-upload-button" id="cancel-upload-button">Cancel</div>
            </div>
        </div>
    
    </form>

    <div class="btn btn-info mt-2 upload-edit-button">Upload</div>
    <form id="delete-documents-form" class="d-inline" action="/patients/<%= patient._id %>/documents?_method=DELETE" method="POST">
        <input type="submit" class="btn btn-danger mt-2" id="delete-documents-button" value="Delete">
    </form>
    <div>
        <a class="btn btn-secondary mt-2 back-to-pt-button" href="/patients/<%= patient.id %>">Back to Patient Details</a>
    </div>
</div>

<% include ../partials/footer %>
