<% include ../partials/header %>

<div class="container">
    
    <h1 class="mt-3"><%= patient.firstname + " " + patient.surname %></h1>
    <h3>Documents:</h3>
    
    <form method="POST" action="patients/<%= patient._id %>/documents?_method=DELETE" id="delete-documents-form"></form>

    <form class="document-form" action="/patients/<%= patient._id %>/documents?currentView=<%= currentView %>" method="POST" enctype="multipart/form-data">
       
        <div class="form-row">
            <% patient.documents.forEach(function(document, i){ %>
                <div class="form-group d-flex justify-content-start flex-wrap document-group-item">
                    <div class="mx-1">
                        <a href="/patients/<%= patient._id%>/documents/<%= document._id %>?currentView=<%= currentView %>">
                            <img class="img-thumbnail" src="<%= document.url %>" alt="uploaded document" width="150px" id="document<%= i %>">
                        </a>
                        <div>    
                            <%= document.file_name %>
                        </div>
                        <div class="select-tools">
                            <input type="checkbox" name="deleteDocuments[]" class="document-delete-checkbox" id="document<%= i %>" value="<%= document._id %>">
                            <label for="document<%= i %>">Select</label>
                        </div>    
                    </div>                   
                </div>
            <% }); %>
        </div>

        <div class="form-row">

            <p>
                <span id="upload-status"> Please choose documents to upload 
                    <% if (patient.documents.length){ %>
                        <span>or select documents for deletion</span>
                    <% } %>
                </span>
                <span id="spinner"></span>    
            </p>
            
                
            <div id="upload-tools" class="form-group col-12">   
                <input id="documents-upload-control" type="file" accept="images/*" name="documents" multiple>
            </div>
           
            <div class="form-group col-lg-12 align-self-end d-flex">
                <button id="upload-button" class="btn btn-success mr-1" type="submit">Upload</button>
                <button type="button" id="print-documents-button" class="btn btn-dark export-button mr-1">
                    Print
                </button>
                <input type="submit" class="btn btn-danger mr-1" id="delete-documents-button" value="Delete" form="delete-documents-form">
                <div class="btn btn-warning mr-1" id="cancel-documents-button">Cancel</div>
            </div>

        </div>
    
    </form>

    <div>
        <a class="btn btn-secondary mt-2 back-to-pt-button" href="/patients/<%= patient.id %>?currentView=<%= currentView %>">Back to Patient Details</a>
    </div>
</div>
<script>
    // for use in ajax delete
    const patientId = <%- JSON.stringify(patient._id) %>;
</script>

<% include ../partials/common-scripts %>
<script src="/js/document.js"></script>
<% include ../partials/footer %>
