<% include ../partials/header %>

<div class="container">
    
    <h1 class="mt-3"><%= patient.firstname + " " + patient.surname %></h1>
    <h3>Document: <%= document.file_name %></h3>  

    <img src="<%= document.url %>" alt="uploaded document" width="500px">

    <form class="delete-form" action="/patients/<%= patient._id %>/documents/<%= document._id %>?_method=DELETE&currentView=<%= currentView %>" method="POST">
        <button type="button" class="btn btn-dark export-button mt-2" onclick="printJS('<%= document.url %>', 'image')">
            Print
        </button>
        <input class="btn btn-danger mt-2" type="submit" value="Delete">
    </form>   

    <div>
        <a class="btn btn-secondary mt-2" href="/patients/<%= patient._id %>/documents?currentView=<%= currentView %>">Back to Documents List</a>
    </div>

</div>

<% include ../partials/common-scripts %>
<!-- Delete prompt -->
<script>
    const deleteForm = document.querySelector('.delete-form');
    deleteForm.addEventListener('submit', e => {
        const confirmResponse = confirm('Are you sure?');
        if (!confirmResponse) {
            e.preventDefault();
        }
    })
</script>
<% include ../partials/footer %>