<% include ../partials/header %>

<div class="container">
    
    <h3>Uploaded on  <%= moment(document.date_created).format('DD/MM/YYYY') %></h3>

    <img src="<%= document.url %>" alt="uploaded document" width="500px">

    <form class="delete-form" action="/patients/<%= patient._id %>/documents/<%= document._id %>?_method=DELETE" method="POST">
        <input class="btn btn-danger mt-2" type="submit" value="Delete">
    </form>   

    <div>
        <a class="btn btn-secondary mt-2" href="/patients/<%= patient._id %>/documents">Back to Documents List</a>
    </div>

</div>

<% include ../partials/common-scripts %>
<% include ../partials/footer %>