<div class="col-4">

    <div class="d-none d-lg-inline">    
        <label for="history-scroll-id" class="history-scroll">Clinical History:</label>
        <div class="form-control history-scroll overflow-auto ui-widget-content" id="history-scroll-id" style="height: <%= scrollHeight %>;">
            <ul class="list">
                <% patient.medhists.forEach(medhist => { %>
                    <li>
                        <div class="type"><strong><span class="fas fa-comment-medical text-success"></span> Medical History</strong></div>
                        <div class="date-created" timestamp="<%= Date.parse(medhist.date_created) %>"><strong>Date: </strong><%= moment(medhist.date_created).format('DD/MM/YYYY') %></div>
                        <div class="data">
                            <strong>CRITICAL:</strong>        
                            <%= medhist.critical %><br>
                            <strong>Meds:</strong>   
                            <%= medhist.meds %><br>
                            <strong>Ops:</strong>        
                            <%= medhist.ops %><br>
                            <strong>#:</strong>       
                            <%= medhist.fracs %><br>
                            <strong>A:</strong>        
                            <%= medhist.accs %><br>
                            <strong>Ill:</strong>    
                            <%= medhist.ill %><br>
                            <strong>Resp:</strong>        
                            <%= medhist.resp %><br>
                            <strong>CVS:</strong>       
                            <%= medhist.cvs %><br>
                            <strong>GU:</strong>        
                            <%= medhist.gu %><br>
                            <strong>GIT:</strong>    
                            <%= medhist.git %><br>
                            <strong>Gynae:</strong>        
                            <%= medhist.gynae %><br>
                            <strong>MSk:</strong>       
                            <%= medhist.msk %>
                        </div>
                        <hr>
                    </li>
                <% }); %>
                <% patient.interviews.forEach(interview => { %>
                    <li>
                        <div class="type"><strong><span class="fa fa-comments text-info"></span> Consultation</strong></div>
                        <div class="date-created" timestamp="<%= Date.parse(interview.date_created) %>"><strong>Date: </strong><%= moment(interview.date_created).format('DD/MM/YYYY') %><br></div>
                        <div class="data">
                            <strong>CO:</strong>        
                            <%= interview.CO %><br>
                            <strong>Onset:</strong>   
                            <%= interview.onset %><br>
                            <strong>Reason:</strong>        
                            <%= interview.reason %><br>
                            <strong>Agg:</strong>       
                            <%= interview.agg %><br>
                            <strong>Rel:</strong>        
                            <%= interview.rel %><br>
                            <strong>DP:</strong>    
                            <%= interview.dp %><br>
                            <strong>PH:</strong>        
                            <%= interview.ph %><br>
                            <strong>Invest:</strong>       
                            <%= interview.invest %>
                        </div>    
                        <hr>
                    </li>
                <% }); %>
                <% patient.clinicals.forEach(clinical => { %>
                    <li>
                        <div class="type"><strong><span class="fas fa-user-friends text-danger"></span> Clinical Details</strong></div>
                        <div class="date-created" timestamp="<%= Date.parse(clinical.date_created) %>"><strong>Date: </strong><%= moment(clinical.date_created).format('DD/MM/YYYY') %></div>
                        <div class="data">
                            <strong>Problem: </strong>    
                            <%= clinical.problem %><br>
                            <strong>O/E:</strong>        
                            <%= clinical.OE %><br>
                            <strong>Diag: </strong>       
                            <%= clinical.diag %><br>
                            <strong>TTT: </strong>        
                            <%= clinical.TTT %>
                        </div>
                        <hr>
                    </li>
                <% }); %>
            </ul>
        </div>

    </div>

</div>
