<% include ../partials/header %>

<h1>Edit Clinical Session for <%= patient.firstname + " " + patient.surname %></h1>

<form action="/patients/<%= patient._id %>/clinicals/<%= clinical.id %>?_method=PUT" method="POST">

    <div>
        <label for="OE-text">Objective Findings</label>
    </div>
    <div>
        <textarea name="clinical[OE]" id="OE-text"><%= clinical.OE %></textarea>
    </div>
    <div>
        <label for="diag-checkbox">Diagnosis?</label>
    </div>
    <div>
        <input type="checkbox" id="diag-checkbox">
    </div>
    <input name="clinical[diag_bool]" type="hidden" value="<%= clinical.diag_bool %>" id="diag-boolean">
    <div>
        <label for="diag-text">Diagnosis</label>
    </div>
    <div>
        <textarea name="clinical[diag]" id="diag-text" disabled="true" class="text-input"><%= clinical.diag %></textarea>
    </div>
    <div>
        <label for="TTT-text">Treatment</label>
    </div>
    <div>
        <textarea name="clinical[TTT]" id="TTT-text"><%= clinical.TTT %></textarea>
    </div>
    
    <input type="submit">    
    
</form>

<script type="text/javascript" src="/js/edit.js"></script>

<% include ../partials/footer %>