<% include ../partials/header %>

<h1>Show Clinical Details for <%= patient.firstname + " " + patient.surname %>  on <%= clinical.date_created %></h1>

<div><%= clinical.OE %></div>
<div><%= clinical.diag %></div>
<div><%= clinical.TTT %></div>

<a class="btn btn-info" href="/patients/<%= patient._id%>/clinicals/<%= clinical._id %>/edit">Edit</a>
<a class="btn btn-warning" href="/patients/<%= patient._id%>">Back to Patient</a>

<% include ../partials/footer %>