<% include ../partials/header %>

<div class="container">
    
    <h3><%= patient.firstname + " " + patient.surname %>'s Clinical Details on <%= moment(clinical.date_created).format('DD/MM/YYYY') %></h1>

    <form method="POST" action="/patients/<%= patient._id %>/clinicals/<%= clinical.id %>?_method=DELETE" id="delete-clinical-form" class="delete-form"></form>

    <form class="edit-form" id="edit-clinical-form" action="/patients/<%= patient._id %>/clinicals/<%= clinical.id %>" method="POST" autocomplete="off">        

        <div class="form-row">

            <div class="form-group col-12">
                <label for="OE-edit">Problem:</label>
                <textarea name="clinical[problem]" id="OE-problem" class="form-control" disabled><%= clinical.problem %></textarea>
            </div>

            <div class="form-group col-12">
                <label for="OE-edit">Objective Findings:</label>
                <textarea name="clinical[OE]" id="OE-edit" class="form-control" rows="6" disabled><%= clinical.OE %></textarea>
            </div>
    
            <div class="form-group col-12">    
                <label for="diag-edit">Diagnosis:</label>
                <textarea name="clinical[diag]" id="diag-edit" class="form-control" disabled><%= clinical.diag %></textarea>    
            </div>

            <div class="form-group col-12">
                <label for="TTT-edit">Treatment:</label>
                <textarea name="clinical[TTT]" id="TTT-edit" class="form-control" rows="6" disabled><%= clinical.TTT %></textarea>
            </div>

            <!-- Hidden input for signoff -->
            <input class="hidden-signed-off" type="text" name="clinical[signed_off]" style="display: none" value="<%= clinical.signed_off %>">

            <div class="form-group col-lg-6 align-self-end">
                <div class="btn btn-info edit-button signoff-edit-button" id="edit-clinical-button">Edit Clinical Session</div>
                <button class="btn btn-success submit-edit-button" id="submit-edit-clinical-button">Submit</button>
                <div class="btn btn-warning cancel-edit-button" id="cancel-edit-clinical-button">Cancel</div>
                <input type="submit" class="btn btn-danger delete-button" id="delete-clinical-button" value="Delete" form="delete-clinical-form">
                <div class="btn btn-dark signoff-button" id="signoff-clinical-button">Sign Off</div>
            </div>

        </div>    

    </form>

    <a class="btn btn-secondary mt-2" href="/patients/<%= patient._id%>">Back to Patient Details</a>

</div>

<% include ../partials/common-scripts %>
<% include ../partials/footer %>