<% include ../partials/header %>

<h1>Edit Medical History for <%= patient.firstname + " " + patient.surname %></h1>

<form action="/patients/<%= patient._id %>/medhists/<%= medhist.id %>?_method=PUT" method="POST">
    
    <label for="meds-checkbox">Medications?</label>
    <input type="checkbox" id="meds-checkbox">
    <input name=medhist[meds_bool] type="hidden" value="<%= medhist.meds_bool %>">
    <input name="medhist[meds]" type="text" class="text-input" value="<%= medhist.meds %>" disabled="true">

    <label for="ops-checkbox">Operations?</label>
    <input type="checkbox" id="ops-checkbox">
    <input name=medhist[ops_bool] type="hidden" value="<%= medhist.ops_bool %>">
    <input name="medhist[ops]" type="text" class="text-input" value="<%= medhist.ops %>" disabled="true">

    <label for="fracs-checkbox">Fractures?</label>
    <input type="checkbox" id="fracs-checkbox">
    <input name=medhist[fracs_bool] type="hidden" value="<%= medhist.fracs_bool %>">
    <input name="medhist[fracs]" type="text" class="text-input" value="<%= medhist.fracs %>" disabled="true">
    
    <label for="accs-checkbox">Accidents?</label>
    <input type="checkbox" id="accs-checkbox">
    <input name=medhist[accs_bool] type="hidden" value="<%= medhist.accs_bool %>">
    <input name="medhist[accs]" type="text" class="text-input" value="<%= medhist.accs %>" disabled="true">
    
    <label for="ill-checkbox">Illnesses?</label>
    <input type="checkbox" id="ill-checkbox">
    <input name=medhist[ill_bool] type="hidden" value="<%= medhist.ill_bool %>">
    <input name="medhist[ill]" type="text" class="text-input" value="<%= medhist.ill %>" disabled="true">
    
    <label for="resp-checkbox">Respiratory?</label>
    <input type="checkbox" id="resp-checkbox">
    <input name=medhist[resp_bool] type="hidden" value="<%= medhist.resp_bool %>">
    <input name="medhist[resp]" type="text" class="text-input" value="<%= medhist.resp %>" disabled="true">
    
    <label for="cvs-checkbox">Cardiovascular?</label>
    <input type="checkbox" id="cvs-checkbox">
    <input name=medhist[cvs_bool] type="hidden" value="<%= medhist.cvs_bool %>">
    <input name="medhist[cvs]" type="text" class="text-input" value="<%= medhist.cvs %>" disabled="true">
    
    <label for="gu-checkbox">Genitourinary?</label>
    <input type="checkbox" id="gu-checkbox">
    <input name=medhist[gu_bool] type="hidden" value="<%= medhist.gu_bool %>">
    <input name="medhist[gu]" type="text" class="text-input" value="<%= medhist.gu %>" disabled="true">
    
    <label for="git-checkbox">Gastrointestinal?</label>
    <input type="checkbox" id="git-checkbox">
    <input name=medhist[git_bool] type="hidden" value="<%= medhist.git_bool %>">
    <input name="medhist[git]" type="text" class="text-input" value="<%= medhist.git %>" disabled="true">
    
    <label for="gynae-checkbox">Gynaecological?</label>
    <input type="checkbox" id="gynae-checkbox">
    <input name=medhist[gynae_bool] type="hidden" value="<%= medhist.gynae_bool %>">
    <input name="medhist[gynae]" type="text" class="text-input" value="<%= medhist.gynae %>" disabled="true">
    
    <label for="msk-checkbox">Musculoskeletal?</label>
    <input type="checkbox" id="msk-checkbox">
    <input name=medhist[msk_bool] type="hidden" value="<%= medhist.msk_bool %>">
    <input name="medhist[msk]" type="text" class="text-input" value="<%= medhist.msk %>" disabled="true">
    
    <input type="submit">

</form>

<script type="text/javascript" src="/js/edit.js"></script>

<% include ../partials/footer %>