<% include ../partials/header %>

<div class="container">

    <h1 class="mt-3"><%= patient.firstname + " " + patient.surname %></h1>
    <h3>New Medical History</h3>
    
</div>

<form id="new-medhist-form" action="/patients/<%= patient._id %>/medhists?currentView=<%= currentView %>" method="POST">

    <div class="container main-container">

        <div class="form-row">

            <div class="inputs-col col-12">

                <div class="row">    

                    <div class="form-group col-lg-6">
                        <label for="meds-text">Medications?</label>
                        <input id="meds-text" name="item[meds]" type="text" class="text-input form-control">
                    </div>    

                    <div class="form-group col-lg-6">            
                        <label for="ops-text">Operations?</label>
                        <input id="ops-text" name="item[ops]" type="text" class="text-input form-control">
                    </div>    

                    <div class="form-group col-lg-6">                        
                        <label for="fracs-text">Fractures?</label>
                        <input id="fracs-text" name="item[fracs]" type="text" class="text-input form-control">
                    </div>    

                    <div class="form-group col-lg-6">                        
                        <label for="accs-text">Accidents?</label>
                        <input id="accs-text" name="item[accs]" type="text" class="text-input form-control">
                    </div>

                    <div class="form-group col-lg-6">                        
                        <label for="ill-text">Illnesses?</label>
                        <input id="ill-text" name="item[ill]" type="text" class="text-input form-control">
                    </div>    

                    <div class="form-group col-lg-6">                        
                        <label for="resp-text">Respiratory?</label>
                        <input id="resp-text" name="item[resp]" type="text" class="text-input form-control">
                    </div>    

                    <div class="form-group col-lg-6">                        
                        <label for="cvs-text">Cardiovascular?</label>
                        <input id="cvs-text" name="item[cvs]" type="text" class="text-input form-control">
                    </div>    

                    <div class="form-group col-lg-6">                                    
                        <label for="gu-text">Genitourinary?</label>
                        <input id="gu-text" name="item[gu]" type="text" class="text-input form-control">
                    </div>    

                    <div class="form-group col-lg-6">                                    
                        <label for="git-text">Gastrointestinal?</label>
                        <input id="git-text" name="item[git]" type="text" class="text-input form-control">
                    </div>    

                    <div class="form-group col-lg-6">                                    
                        <label for="gynae-text">Gynaecological?</label>
                        <input id="gynae-text" name="item[gynae]" type="text" class="text-input form-control">
                    </div>    

                    <div class="form-group col-lg-6">                                    
                        <label for="msk-text">Musculoskeletal?</label>
                        <input id="msk-text" name="item[msk]" type="text" class="text-input form-control">
                    </div>
                    
                    <div class="form-group col-lg-6">                                    
                        <label for="critical-text">Critical Info?</label>
                        <input id="critical-text" name="item[critical]" type="text" class="text-input form-control">
                    </div>

                </div>
                
            </div>

            <!-- common scrollable history feature -->
            <% let scrollHeight="470px"; %>
            <% include ../partials/history-scroll %>

            <!-- Hidden input for signoff -->
            <input name="item[signed_off]" type="hidden" value="false">
        
        </div>

    </div>
    
    <div class="container">

        <div class="form-group align-self-end">
            <button class="btn btn-success" id="submit-new-medhist-button">Save</button>
            <a href="/patients/<%= patient._id %>?currentView=<%= currentView %>" class="btn btn-warning" id="cancel-new-medhist-button">Cancel</a>
        </div>

    </div>

</form>

<div class="container">

    <div class="d-flex justify-content-end">
        <a href="/patients/<%= patient._id %>/medhists/new?currentView=<%= currentView %>&history=true" class="btn btn-primary my-2 d-none d-lg-inline history-button">Show History</a>
    </div>

</div>

<% include ../partials/common-scripts %>
<script src="/js/history.js"></script>
<% include ../partials/footer %>