<% include ../partials/header %>

<div class="container main-container">

    <h1 class="mt-3"><%= patient.firstname + " " + patient.surname %></h1>
    <h3><span class="fas fa-comment-medical text-success"></span> Medical History: <%= moment(medhist.date_created).format('DD/MM/YYYY') %></h3>    

    <form method="POST" action="/patients/<%= patient._id %>/medhists/<%= medhist.id %>?_method=DELETE&currentView=<%= currentView %>" id="delete-medhist-form" class="delete-form"></form>

    <form class="edit-form" id="edit-medhist-form" action="/patients/<%= patient._id %>/medhists/<%= medhist.id %>" method="POST" autocomplete="off">
        <div class="form-row">

            <div class="form-group col-lg-6">
                <label for="meds-edit">Medications:</label>
                <input type="text" class="form-control" name="medhist[meds]" id="meds-edit" value="<%= medhist.meds %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="ops-edit">Operations:</label>
                <input type="text" class="form-control" name="medhist[ops]" id="ops-edit" value="<%= medhist.ops %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="fracs-edit">Fractures:</label>
                <input type="text" class="form-control" name="medhist[fracs]" id="fracs-edit" value="<%= medhist.fracs %>"disabled> 
            </div>

            <div class="form-group col-lg-6">
                <label for="accs-edit">Accidents:</label>
                <input type="text" class="form-control" name="medhist[accs]" id="accs-edit" value="<%= medhist.accs %>"disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="ops-edit">Illneses:</label>
                <input type="text" class="form-control" name="medhist[ill]" id="ill-edit" value="<%= medhist.ill %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="resp-edit">Respiratory:</label>
                <input type="text" class="form-control" name="medhist[resp]" id="resp-edit" value="<%= medhist.resp %>" disabled> 
            </div>
            
            <div class="form-group col-lg-6">
                <label for="cvs-edit">Cardiovascular:</label>
                <input type="text" class="form-control" name="medhist[cvs]" id="cvs-edit" value="<%= medhist.cvs %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="gu-edit">Genitourinary:</label>
                <input type="text" class="form-control" name="medhist[gu]" id="gu-edit" value="<%= medhist.gu %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="git-edit">Gastrointestinal:</label>
                <input type="text" class="form-control" name="medhist[git]" id="git-edit" value="<%= medhist.git %>" disabled> 
            </div>
            
            <div class="form-group col-lg-6">
                <label for="gynae-edit">Gynaecological:</label>
                <input type="text" class="form-control" name="medhist[gynae]" id="gynae-edit" value="<%= medhist.gynae %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="msk-edit">Musculoskeletal:</label>
                <input type="text" class="form-control" name="medhist[msk]" id="msk-edit" value="<%= medhist.msk %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="critical-edit">Critical Info:</label>
                <input type="text" class="form-control" name="medhist[critical]" id="msk-edit" value="<%= medhist.critical %>" disabled> 
            </div>

            <textarea class="history-textarea form-control" name="" id="" cols="30" rows="10" readonly>
                I'm baby chambray everyday carry food truck forage, twee polaroid affogato lo-fi tofu vinyl offal jianbing vaporware narwhal meggings. Unicorn distillery twee knausgaard gochujang. YOLO small batch before they sold out, meditation seitan banjo disrupt stumptown 3 wolf moon heirloom whatever coloring book twee butcher chartreuse. Kombucha tacos iPhone retro, fixie shoreditch 8-bit fingerstache umami forage. Vape distillery pitchfork +1 fam yr aesthetic banh mi.
                Bitters kombucha bicycle rights, tousled brunch church-key tumblr farm-to-table kale chips raw denim synth. Distillery normcore hot chicken unicorn subway tile gluten-free. Hella edison bulb organic pug venmo. Af food truck schlitz ennui blue bottle irony. Activated charcoal af salvia, kogi crucifix farm-to-table fashion axe meditation.
                Ramps echo park whatever, bespoke poke asymmetrical biodiesel chambray neutra. Etsy keytar man braid, sustainable af ethical hot chicken kinfolk leggings fingerstache. Squid snackwave ugh affogato, synth raw denim stumptown. Live-edge migas whatever vaporware. Lo-fi sriracha readymade pinterest occupy kitsch. Four dollar toast intelligentsia enamel pin, succulents food truck jean shorts tilde tbh photo booth bitters polaroid. Art party tacos godard YOLO, drinking vinegar raw denim truffaut crucifix four loko pop-up blue bottle waistcoat cornhole.
                Wayfarers salvia organic jianbing, art party schlitz pork belly gentrify dreamcatcher pug fanny pack. Godard freegan semiotics vaporware, celiac PBR&B subway tile pickled. Master cleanse shaman squid four dollar toast ennui fanny pack letterpress PBR&B. Snackwave meh live-edge raclette gochujang +1. Coloring book meggings authentic thundercats la croix, umami banjo. Kombucha church-key raclette, pug edison bulb kale chips cold-pressed truffaut ethical palo santo slow-carb 8-bit paleo pok pok tumblr.
                Artisan vape slow-carb, mixtape neutra blue bottle disrupt intelligentsia pinterest everyday carry chartreuse dreamcatcher. Vice prism franzen XOXO, succulents narwhal kogi taiyaki microdosing scenester echo park readymade bicycle rights iceland. Typewriter trust fund cray, retro subway tile green juice echo park messenger bag selfies taiyaki pop-up single-origin coffee. Portland pickled disrupt, meditation hot chicken venmo selfies knausgaard. Scenester pabst butcher, blog typewriter selfies literally.
                XOXO selfies cold-pressed hell of slow-carb umami pabst sriracha literally health goth. Tofu kinfolk lo-fi kombucha umami mixtape viral retro gochujang disrupt hella normcore. Ennui selvage food truck gastropub, pour-over tattooed disrupt vexillologist kinfolk readymade coloring book tacos migas. Butcher tbh literally, art party godard cold-pressed everyday carry banh mi hoodie woke flexitarian williamsburg taiyaki disrupt +1. Unicorn chillwave franzen brooklyn normcore you probably haven't heard of them seitan cold-pressed kitsch. Biodiesel hexagon coloring book, four dollar toast gochujang master cleanse kogi succulents. Mustache echo park seitan, yr slow-carb cold-pressed selfies fashion axe try-hard vaporware edison bulb af kogi neutra.
                Lo-fi vape kinfolk godard authentic affogato. Plaid sartorial DIY, meggings taxidermy vexillologist affogato selvage ennui tacos. Selvage put a bird on it polaroid narwhal, direct trade unicorn hot chicken wayfarers hammock everyday carry. Knausgaard tumeric aesthetic food truck street art, glossier XOXO bitters green juice everyday carry cliche.
                Ugh shaman authentic master cleanse pop-up, sustainable irony. Tofu kickstarter cray, YOLO church-key blog viral ethical cronut. Cliche 90's helvetica, copper mug craft beer fashion axe pok pok glossier. Salvia trust fund cornhole chambray, meggings cardigan fashion axe four dollar toast letterpress wayfarers neutra williamsburg banjo truffaut. Mustache distillery scenester bicycle rights vinyl cornhole tbh sustainable. Meditation post-ironic thundercats kale chips. Thundercats readymade gluten-free tofu hoodie, locavore williamsburg vexillologist.
                Listicle cronut selfies, disrupt fingerstache semiotics food truck unicorn cardigan flannel. Small batch cronut freegan offal banjo. Organic live-edge poutine pinterest keffiyeh salvia craft beer meh seitan readymade. Disrupt normcore messenger bag, jianbing small batch cardigan shaman literally fam lumbersexual artisan hexagon authentic vape. Helvetica iceland whatever distillery enamel pin 3 wolf moon hoodie stumptown williamsburg squid banh mi.
                Microdosing skateboard swag, hashtag pabst shoreditch chartreuse roof party sartorial franzen snackwave twee plaid. Street art messenger bag meh PBR&B snackwave. Keffiyeh microdosing taxidermy kogi lomo. Mumblecore deep v fam fashion axe. Blog cred prism blue bottle crucifix, skateboard direct trade. Mixtape YOLO seitan fam leggings blog.
            </textarea>


            <!-- Hidden input for signoff -->
            <input class="hidden-signed-off" type="text" name="medhist[signed_off]" style="display: none" value="<%= medhist.signed_off %>">

            <div class="form-group col-lg-6 align-self-end">
                <div class="btn btn-info edit-button signoff-edit-button" id="edit-medhist-button">Edit Medical History</div>
                <button class="btn btn-success submit-edit-button" id="submit-edit-medhist-button">Save</button>
                <div class="btn btn-warning cancel-edit-button" id="cancel-edit-medhist-button">Cancel</div>
                <input type="submit" class="btn btn-danger delete-button" id="delete-medhist-button" value="Delete" form="delete-medhist-form">
                <div class="btn btn-dark signoff-button" id="signoff-medhist-button">Sign Off</div>
            </div>

        </div>

    </form>

    <div class="d-flex justify-content-between">
        <a class="btn btn-secondary mt-2" href="/patients/<%= patient._id %>?currentView=<%= currentView %>">Back to Patient Details</a>
        <button class="btn btn-primary mt-2 d-none d-xl-inline history-button">Show History</button>
    </div>

</div>

<% include ../partials/common-scripts %>
<script src="/js/edit.js"></script>
<% include ../partials/footer %>