<% include ../partials/header %>

<div class="container">

    <h1 class="mt-3"><%= patient.firstname + " " + patient.surname %></h1>
    <h3><span class="fas fa-comment-medical text-success"></span> Medical History: <%= moment(medhist.date_created).format('DD/MM/YYYY') %></h3>    

</div>

<form method="POST" action="/patients/<%= patient._id %>/medhists/<%= medhist.id %>?_method=DELETE&currentView=<%= currentView %>" id="delete-medhist-form" class="delete-form"></form>

<form class="edit-form" id="edit-medhist-form" action="/patients/<%= patient._id %>/medhists/<%= medhist.id %>" method="POST" autocomplete="off">

    <div class="container main-container">

        <div class="form-row">

            <div class="inputs-col col-12">

                <div class="row">

                    <div class="form-group col-lg-6">
                        <label for="meds-edit">Medications:</label>
                        <input type="text" class="form-control" name="medhist[meds]" id="meds-edit" value="<%= medhist.meds %>" disabled> 
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="ops-edit">Operations:</label>
                        <input type="text" class="form-control" name="medhist[ops]" id="ops-edit" value="<%= medhist.ops %>" disabled> 
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="fracs-edit">Fractures:</label>
                        <input type="text" class="form-control" name="medhist[fracs]" id="fracs-edit" value="<%= medhist.fracs %>"disabled> 
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="accs-edit">Accidents:</label>
                        <input type="text" class="form-control" name="medhist[accs]" id="accs-edit" value="<%= medhist.accs %>"disabled> 
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="ops-edit">Illneses:</label>
                        <input type="text" class="form-control" name="medhist[ill]" id="ill-edit" value="<%= medhist.ill %>" disabled> 
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="resp-edit">Respiratory:</label>
                        <input type="text" class="form-control" name="medhist[resp]" id="resp-edit" value="<%= medhist.resp %>" disabled> 
                    </div>
                    
                    <div class="form-group col-lg-6">
                        <label for="cvs-edit">Cardiovascular:</label>
                        <input type="text" class="form-control" name="medhist[cvs]" id="cvs-edit" value="<%= medhist.cvs %>" disabled> 
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="gu-edit">Genitourinary:</label>
                        <input type="text" class="form-control" name="medhist[gu]" id="gu-edit" value="<%= medhist.gu %>" disabled> 
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="git-edit">Gastrointestinal:</label>
                        <input type="text" class="form-control" name="medhist[git]" id="git-edit" value="<%= medhist.git %>" disabled> 
                    </div>
                    
                    <div class="form-group col-lg-6">
                        <label for="gynae-edit">Gynaecological:</label>
                        <input type="text" class="form-control" name="medhist[gynae]" id="gynae-edit" value="<%= medhist.gynae %>" disabled> 
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="msk-edit">Musculoskeletal:</label>
                        <input type="text" class="form-control" name="medhist[msk]" id="msk-edit" value="<%= medhist.msk %>" disabled> 
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="critical-edit">Critical Info:</label>
                        <input type="text" class="form-control" name="medhist[critical]" id="critical-edit" value="<%= medhist.critical %>" disabled> 
                    </div>

                </div>

            </div>

            <!-- common scrollable history feature -->
            <% let scrollHeight="470px"; %>
            <% include ../partials/history-scroll %>

            <!-- Hidden input for signoff -->
            <input class="hidden-signed-off" type="text" name="medhist[signed_off]" style="display: none" value="<%= medhist.signed_off %>">

        </div>

    </div>
    
    <div class="container">

        <div class="form-group col-lg-6 px-0">
            <div class="btn btn-info edit-button signoff-edit-button" id="edit-medhist-button">Edit Medical History</div>
            <button class="btn btn-success submit-edit-button" id="submit-edit-medhist-button">Save</button>
            <div class="btn btn-warning cancel-edit-button" id="cancel-edit-medhist-button">Cancel</div>
            <input type="submit" class="btn btn-danger delete-button" id="delete-medhist-button" value="Delete" form="delete-medhist-form">
            <div class="btn btn-dark signoff-button" id="signoff-medhist-button">Sign Off</div>
        </div>

    </div>

</form>

<div class="container">

    <div class="d-flex justify-content-between">
        <a class="btn btn-secondary my-2" href="/patients/<%= patient._id %>?currentView=<%= currentView %>">Back to Patient Details</a>
        <button class="btn btn-primary my-2 d-none d-lg-inline history-button">Show History</button>
    </div>

</div>

<% include ../partials/common-scripts %>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="/js/edit.js"></script>
<% include ../partials/footer %>