<% include ../partials/header %>

<div class="container">

    <h3><%= patient.firstname + " " + patient.surname %>'s Medical History on <%= moment(medhist.date_created).format('DD/MM/YYYY') %></h3>    

    <!-- old school action will prob get rid of ?_method PUT -->
    <form class="edit-form" id="edit-medhist-form" action="/patients/<%= patient._id %>/medhists/<%= medhist.id %>" method="POST" autocomplete="off">
        <!-- <input autocomplete="false" name="hidden" type="text" style="display:none;"> -->
            
        <div class="form-row">

            <div class="form-group col-lg-6">
                <label for="medsEdit">Medications</label>
                <input  type="text" class="form-control" name="medhist[meds]" id="medsEdit" value="<%= medhist.meds %>"disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="opsEdit">Operations</label>
                <input  type="text" class="form-control" name="medhist[ops]" id="opsEdit" value="<%= medhist.ops %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="fracsEdit">Fractures</label>
                <input  type="text" class="form-control" name="medhist[fracs]" id="fracsEdit" value="<%= medhist.fracs %>"disabled> 
            </div>

            <div class="form-group col-lg-6">
                <label for="accsEdit">Accidents</label>
                <input  type="text" class="form-control" name="medhist[accs]" id="accsEdit" value="<%= medhist.accs %>"disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="opsEdit">Illneses</label>
                <input  type="text" class="form-control" name="medhist[ill]" id="illEdit" value="<%= medhist.ill %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="respEdit">Respiratory</label>
                <input  type="text" class="form-control" name="medhist[resp]" id="respEdit" value="<%= medhist.resp %>" disabled> 
            </div>
            
            <div class="form-group col-lg-6">
                <label for="cvsEdit">Cardiovascular</label>
                <input  type="text" class="form-control" name="medhist[cvs]" id="cvsEdit" value="<%= medhist.cvs %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="guEdit">Genitourinary</label>
                <input  type="text" class="form-control" name="medhist[gu]" id="guEdit" value="<%= medhist.gu %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="gitEdit">Gastrointestinal</label>
                <input  type="text" class="form-control" name="medhist[git]" id="gitEdit" value="<%= medhist.git %>" disabled> 
            </div>
            
            <div class="form-group col-lg-6">
                <label for="gynaeEdit">Gynaecological</label>
                <input  type="text" class="form-control" name="medhist[gynae]" id="gynaeEdit" value="<%= medhist.gynae %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="mskEdit">Musculoskeletal</label>
                <input  type="text" class="form-control" name="medhist[msk]" id="mskEdit" value="<%= medhist.msk %>" disabled> 
            </div>
            <div class="form-group col-lg-6 align-self-end">
                <div class="btn btn-info edit-button" id="edit-medhist-button">Edit Medical History</div>
                <button class="btn btn-success submit-edit-button" id="submit-edit-medhist-button">Submit</button>
                <div class="btn btn-warning cancel-edit-button" id="cancel-edit-medhist-button">Cancel</div>
                <div class="btn btn-danger delete-button" id="delete-medhist-button">Delete</div>
            </div>
        </div>            
    </form>

    <div>
        <a class="btn btn-warning mt-2" href="/patients/<%= patient._id %>">Back to Patient Details</a>
    </div>
            
</div>

<% include ../partials/footer %>