<% include ../partials/header %>

<div class="container">

    <h1 class="mt-3"><%= patient.firstname + " " + patient.surname %></h1>
    <h3><span class="fas fa-comment-medical text-success"></span> Medical History: <%= moment(medhist.date_created).format('DD/MM/YYYY') %></h3>    

    <form method="POST" action="/patients/<%= patient._id %>/medhists/<%= medhist.id %>?_method=DELETE" id="delete-medhist-form" class="delete-form"></form>

    <form class="edit-form" id="edit-medhist-form" action="/patients/<%= patient._id %>/medhists/<%= medhist.id %>" method="POST" autocomplete="off">
        <div class="form-row">

            <div class="form-group col-lg-6">
                <label for="meds-edit">Medications:</label>
                <input type="text" class="form-control" name="medhist[meds]" id="meds-edit" value="<%= medhist.meds %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="ops-edit">Operations:</label>
                <input type="text" class="form-control" name="medhist[ops]" id="ops-edit" value="<%= medhist.ops %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="fracs-edit">Fractures:</label>
                <input type="text" class="form-control" name="medhist[fracs]" id="fracs-edit" value="<%= medhist.fracs %>"disabled> 
            </div>

            <div class="form-group col-lg-6">
                <label for="accs-edit">Accidents:</label>
                <input type="text" class="form-control" name="medhist[accs]" id="accs-edit" value="<%= medhist.accs %>"disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="ops-edit">Illneses:</label>
                <input type="text" class="form-control" name="medhist[ill]" id="ill-edit" value="<%= medhist.ill %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="resp-edit">Respiratory:</label>
                <input type="text" class="form-control" name="medhist[resp]" id="resp-edit" value="<%= medhist.resp %>" disabled> 
            </div>
            
            <div class="form-group col-lg-6">
                <label for="cvs-edit">Cardiovascular:</label>
                <input type="text" class="form-control" name="medhist[cvs]" id="cvs-edit" value="<%= medhist.cvs %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="gu-edit">Genitourinary:</label>
                <input type="text" class="form-control" name="medhist[gu]" id="gu-edit" value="<%= medhist.gu %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="git-edit">Gastrointestinal:</label>
                <input type="text" class="form-control" name="medhist[git]" id="git-edit" value="<%= medhist.git %>" disabled> 
            </div>
            
            <div class="form-group col-lg-6">
                <label for="gynae-edit">Gynaecological:</label>
                <input type="text" class="form-control" name="medhist[gynae]" id="gynae-edit" value="<%= medhist.gynae %>" disabled> 
            </div>
            <div class="form-group col-lg-6">
                <label for="msk-edit">Musculoskeletal:</label>
                <input type="text" class="form-control" name="medhist[msk]" id="msk-edit" value="<%= medhist.msk %>" disabled> 
            </div>
            <div class="form-group col-lg-6 align-self-end">
                <div class="btn btn-info edit-button" id="edit-medhist-button">Edit Medical History</div>
                <button class="btn btn-success submit-edit-button" id="submit-edit-medhist-button">Submit</button>
                <div class="btn btn-warning cancel-edit-button" id="cancel-edit-medhist-button">Cancel</div>
                <input type="submit" class="btn btn-danger delete-button" id="delete-medhist-button" value="Delete" form="delete-medhist-form">
            </div>
        </div>            
    </form>

    <a class="btn btn-secondary mt-2" href="/patients/<%= patient._id %>">Back to Patient Details</a>
            
</div>

<% include ../partials/common-scripts %>
<script src="/js/patient.js"></script>
<script src="/js/edit.js"></script>
<% include ../partials/footer %>