<!-- <% include ../partials/header %>

<div class="container">

    <h1>Edit Patient Form</h1>

    <form action="/patients/<%= patient._id %>?_method=PUT" method="POST">
        <input type="text" name="patient[firstname]" value="<%= patient.firstname %>">
        <input type="text" name="patient[surname]" value="<%= patient.surname %>">
        <input type="date" name="patient[dob]" value="<%= patient.dob %>">
        <input type="text" name="patient[address]" value="<%= patient.address %>">
        <input type="text" name="patient[postcode]" value="<%= patient.postcode %>">
        <input type="tel" name="patient[phonenumber]" value="<%= patient.phonenumber %>">
        <input type="email" name="patient[email]" value="<%= patient.email %>">
        <input class="btn btn-large btn-success" type="submit">
        <a class="btn btn-large btn-warning" href="/patients/<%= patient._id %>">Cancel</a>
    </form>

</div>

<% include ../partials/footer %> -->