<% include ../partials/header %>

<div class="container">

    <form action="/patients" method="POST" id="new-patient-form" enctype="multipart/form-data">

        <h1 class="mt-3">New Patient Details</h1>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="firstnameIndex">First Name</label>
                <input type="text" class="form-control" name="patient[firstname]" id="firstnameIndex" placeholder="First Name">
            </div>
            <div class="form-group col-md-3">
                <label for="surnameIndex">Surname</label>
                <input type="text" class="form-control" name="patient[surname]" id="surnameIndex" placeholder="Surname">
            </div>
            <div class="form-group col-md-3">
                <label for="dobIndex">Date of Birth</label>
                <input type="date" class="form-control" name="patient[dob]" id="dobIndex" placeholder="Date of Birth">
            </div>
            <div class="form-group col-md-3">
                <label for="phonenumberIndex">Phone</label>
                <input type="tel" class="form-control" name="patient[phonenumber]" id="phonenumberIndex" placeholder="Phone Number">
            </div>
        </div>
        
        <div class="form-group">
            <label for="addressIndex">Address</label>
            <input type="text" class="form-control" name="patient[address]" id="addressIndex" placeholder="Address">
        </div>    

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="postcodeIndex">Postcode</label>
                <input type="text" class="form-control" name="patient[postcode]" id="postcodeIndex" placeholder="Postcode">
            </div>
            <div class="form-group col-md-3">
                <label for="emailIndex">email</label>
                <input type="email" class="form-control" name="patient[email]" id="emailIndex" placeholder="email">
            </div>
            <div class="form-group col-md-6 align-self-end">    
                <button class="btn btn-success" id="add-new-patient">Add</button>                    
                <div class="btn btn-warning" id="cancel-new-patient">Cancel</div>
            </div>    
        </div>
    </form>   

    <div class="row col-12 mt-3"> 
        <h1>Patient Index</h1>
    </div>    

    <table id="patient-table" class="table table-hover bg-white rounded">
        <thead>
            <tr>
                <th style="display: none;">ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Date of Birth</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <% patients.forEach(function(patient){ %>
                    <tr>
                        <td style="display: none;"><%= patient.id %></td>
                        <td><%= patient.surname %></td>
                        <td><%= patient.firstname %></td>
                        <td><%= moment(patient.dob).format('DD/MM/YYYY') %></td>
                        <td><%= patient.phonenumber %></td>
                    </tr>
            <% }); %>
        </tfoot>
    </table>

    <div class="row">
        <div class="col-12 align-items-center mt-3">
            <button class="btn btn-primary" id="new-patient-button">Add New Patient</button>
        </div>
    </div>

</div>

<% include ../partials/common-scripts %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/3.2.5/tinysort.min.js"></script>
<script src="/js/patient.js"></script>
<% include ../partials/footer %>