<% include ../partials/header %>

<div class="container">
    <h1 class="mt-3">Patient Details</h1>
    
    <form method="POST" action="/patients/<%= patient._id %>?_method=DELETE" id="delete-patient-form"></form>

    <form id="edit-patient-form" class="edit-form" action="/patients/<%= patient._id %>" method="POST" autocomplete="off">

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="firstnameEdit">First Name</label>
                <input type="text" class="form-control" name="firstname" id="firstnameEdit" value="<%= patient.firstname %>" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="surnameEdit">Surname</label>
                <input type="text" class="form-control" name="surname" id="surnameEdit" value="<%= patient.surname %>" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="dobEdit">Date of Birth</label>
                <input type="date" class="form-control" name="dob" id="dobEdit" value="<%= moment(patient.dob).format('YYYY-MM-DD') %>" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="phonenumberEdit">Phone</label>
                <input type="tel" class="form-control" name="phonenumber" id="phonenumberEdit" value="<%= patient.phonenumber %>" disabled>
            </div>
        </div>
        
        <div class="form-group">
            <label for="addressEdit">Address</label>
            <input type="text" class="form-control" name="address" id="addressEdit" value="<%= patient.address %>" disabled>
        </div>    

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="postcodeEdit">Postcode</label>
                <input type="text" class="form-control" name="postcode" id="postcodeEdit" value="<%= patient.postcode %>" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="emailEdit">email</label>
                <input type="email" class="form-control" name="email" id="emailEdit" value="<%= patient.email %>" disabled>
            </div>
            <div class="form-group col-lg-6 align-self-end d-flex">
                <div class="btn btn-info edit-button" id="edit-patient-button">Edit Patient Details</div>
                <% if (currentView === "log") { %>
                    <a class="btn btn-info ml-2 mr-2" id="view-documents-button" href="/patients/<%= patient._id %>/documents?currentView=<%= currentView %>&showHistory=<%= showHistory %>">View Documents</a>                
                    <a class="btn btn-secondary ml-auto change-view-button" href="/patients/<%= patient._id%>?currentView=column&showHistory=<%= showHistory %>">Change to Column View</a>
                <% } else { %>
                    <a class="btn btn-info ml-2 mr-2" id="view-documents-button" href="/patients/<%= patient._id %>/documents?currentView=<%= currentView %>&showHistory=<%= showHistory %>">View Documents</a>
                    <a class="btn btn-secondary ml-auto change-view-button" href="/patients/<%= patient._id%>?currentView=log&showHistory=<%= showHistory %>">Change to Log View</a>
                <% } %>    
                <button class="btn btn-success submit-edit-button mr-1" id="submit-edit-patient-button">Save</button>
                <div class="btn btn-warning cancel-edit-button mr-1" id="cancel-edit-patient-button">Cancel</div>
                <input type="submit" class="btn btn-danger delete-button" id="delete-patient-button" value="Delete" form="delete-patient-form">
            </div>   
        </div>
    </form>

    <!-- Populate list view with data and order on the client side with list.js -->
    <% if (currentView === "log") { %>
        <div id="patient-log">
            <table id="patient-log-table" class="table table-hover bg-white rounded">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>typecode</th>
                        <th class="sort" data-sort="id">Date/Time</th> <!-- sort by id as list.js does not accurately sort dates -->
                        <th class="sort" data-sort="type">Type</th>
                        <th class="sort" data-sort="info">Info</th>
                        <th class="sort" data-sort="signed_off">Signed Off?</th>
                    </tr>
                </thead>
                <tbody class="list">

                    <% patient.medhists.forEach(function(medhist){ %>                
                        <tr>
                            <td class="id"><%= medhist._id %></td>
                            <td class="typecode">M</td>
                            <td class="date_created"><span class="text-dark font-weight-bold"><%= moment(medhist.date_created).format('DD/MM/YYYY HH:mm') %></span></td>
                            <td class="type"><span class="fas fa-comment-medical text-success"></span>  Medical History</td>
                            <td class="info"><% if (medhist.critical){ %> Critical: <% } %><%= medhist.critical %></td>
                            <td class="signed_off">
                                <% if (medhist.signed_off){ %>
                                    <i class="fas fa-lock text-dark"></i>
                                <% } else { %>
                                    <i class="fas fa-lock-open text-warning"></i>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                    <% patient.interviews.forEach(function(interview){ %>
                        <tr class="log-signoff-item">
                            <td class="id"><%= interview._id %></td>
                            <td class="typecode">I</td>
                            <td class="date_created"><span class="text-dark font-weight-bold"><%= moment(interview.date_created).format('DD/MM/YYYY HH:mm') %></span></td>
                            <td class="type"><span class="fa fa-comments text-info"></span>  Consultation</td>
                            <td class="info"><% if (interview.CO){ %> C/O: <% } %><%= interview.CO %></td>
                            <td class="signed_off">
                                <% if (interview.signed_off){ %>
                                    <i class="fas fa-lock text-dark"></i>
                                <% } else { %>
                                    <i class="fas fa-lock-open text-warning"></i>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>                
                    <% patient.clinicals.forEach(function(clinical){ %>
                        <tr class="log-signoff-item">
                            <td class="id"><%= clinical._id %></td>
                            <td class="typecode">C</td>
                            <td class="date_created"><span class="text-dark font-weight-bold"><%= moment(clinical.date_created).format('DD/MM/YYYY HH:mm')%></span></td>
                            <td class="type"><span class="fas fa-user-friends text-danger"></span>  Clinical Session</td>
                            <td class="info"><% if (clinical.diag){ %> Dx: <% } %><%= clinical.diag %></td>
                            <td class="signed_off">
                                <% if (clinical.signed_off){ %>
                                    <i class="fas fa-lock text-dark"></i>
                                <% } else { %>
                                    <i class="fas fa-lock-open text-warning"></i>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>                                    
                </tfoot>
            </table>
            <nav aria-label="Patient Log pagination">
                <ul class="pagination"></ul>
            </nav>
        </div>
        <% if (userType !== "Reception") { %>
            <div class="d-flex">
                <a class="btn btn-primary mt-2" href="/patients/<%= patient._id%>/medhists/new?currentView=log&showHistory=<%= showHistory %>"><span class="fas fa-comment-medical text-success"></span>  New Medical History</a>
                <a class="btn btn-primary mt-2 mx-2" href="/patients/<%= patient._id%>/interviews/new?currentView=log"><span class="fa fa-comments text-info"></span>  New Consultation</a>
                <a class="btn btn-primary mt-2" href="/patients/<%= patient._id%>/clinicals/new?currentView=log"><span class="fas fa-user-friends text-danger"></span>  New Clinical Session</a>
            </div>    
        <% } %>    

    <% } else { %>
        <!-- Populate column view -->
        <div class="row">
            <div class="col-lg-4">
                <!-- Show Med Hists -->
                <h3>Medical Histories</h3>
                <div class="list-group">
                    <% patient.medhists.forEach(function(medhist){ %>
                        <!-- restrict clickable column items -->
                        <% if (userType !== "Reception") { %>
                            <a href="/patients/<%= patient._id%>/medhists/<%= medhist._id %>?currentView=column&showHistory=<%= showHistory %>"
                        <% } else { %>
                            <div
                        <% } %>
                            class="list-group-item list-group-item-action list-group-item-light">
                            <span class="fas fa-comment-medical text-success"></span>
                            <span class="text-dark font-weight-bold"><%= moment(medhist.date_created).format('DD/MM/YYYY') %></span>
                            <% if (medhist.critical){ %> C/O: <% } %><%= medhist.critical %>
                            <% if (medhist.signed_off){ %>
                                <i class="fas fa-lock text-dark float-right"></i>
                            <% } else { %>
                                <i class="fas fa-lock-open text-warning float-right"></i>
                            <% } %>
                        <% if (userType !== "Reception") { %>
                            </a> 
                        <% } else { %>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
                <% if (userType !== "Reception") { %>
                    <a class="btn btn-primary mt-2" href="/patients/<%= patient._id%>/medhists/new?currentView=column&showHistory=<%= showHistory %>">New Medical History</a>
                <% } %>
            </div>        

            <div class="col-lg-4">
                <!-- Show Interviews -->
                <h3>Consultations</h3>
                <div class="list-group">
                    <% patient.interviews.forEach(function(interview){ %>
                        <!-- restrict clickable column items -->
                        <% if (userType !== "Reception") { %>
                            <a href="/patients/<%= patient._id%>/interviews/<%= interview._id %>?currentView=column&showHistory=<%= showHistory %>"
                        <% } else { %>
                            <div
                        <% } %>
                            class="list-group-item list-group-item-action list-group-item-light column-signoff-item">
                            <span class="fa fa-comments text-info"></span>
                            <span class="text-dark font-weight-bold"><%= moment(interview.date_created).format('DD/MM/YYYY') %></span>
                            <% if (interview.CO){ %> C/O: <% } %><%= interview.CO %>
                            <% if (interview.signed_off){ %>
                                <i class="fas fa-lock text-dark float-right"></i>
                            <% } else { %>
                                <i class="fas fa-lock-open text-warning float-right"></i>
                            <% } %>
                        <% if (userType !== "Reception") { %>
                            </a> 
                        <% } else { %>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
                <% if (userType !== "Reception") { %>
                    <a class="btn btn-primary mt-2" href="/patients/<%= patient._id%>/interviews/new?currentView=column&showHistory=<%= showHistory %>">New Consultation</a>
                <% } %>
            </div>        

            <div class="col-lg-4">
                <!-- Show Clinicals -->
                <h3>Clinical Sessions</h3>
                <div class="list-group">    
                    <% patient.clinicals.forEach(function(clinical){ %>
                        <!-- restrict clickable column items -->
                        <% if (userType !== "Reception") { %>
                            <a href="/patients/<%= patient._id%>/clinicals/<%= clinical._id %>?currentView=column&showHistory=<%= showHistory %>"
                        <% } else { %>
                            <div
                        <% } %>
                            class="list-group-item list-group-item-action list-group-item-light column-signoff-item">
                            <span class="fas fa-user-friends text-danger"></span>
                            <span class="text-dark font-weight-bold"><%= moment(clinical.date_created).format('DD/MM/YYYY')%></span>
                            <% if (clinical.diag){ %> Dx: <% } %><%= clinical.diag %>
                            <% if (clinical.signed_off){ %>
                                <i class="fas fa-lock text-dark float-right"></i>
                            <% } else { %>
                                <i class="fas fa-lock-open text-warning float-right"></i>
                            <% } %>
                        <% if (userType !== "Reception") { %>
                            </a> 
                        <% } else { %>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
                <% if (userType !== "Reception") { %>
                    <a class="btn btn-primary mt-2" href="/patients/<%= patient._id%>/clinicals/new?currentView=column&showHistory=<%= showHistory %>">New Clinical Session</a>
                <% } %>
            </div>

        </div>
    
    <% } %>

    <a class="btn btn-secondary mt-2 mb-3" href="/patients?currentView=<%= currentView %>&showHistory=<%= showHistory %>">Back to Patient Index</a>

</div><!-- container -->

<% include ../partials/common-scripts %>
<script>
     const patientId = <%- JSON.stringify(patient._id) %>;
     const userTypePass = <%- JSON.stringify(userType) %>;

</script>
<script src="/js/helpers.js"></script>
<script src="/js/edit-patient.js"></script>
<% include ../partials/footer %>
 