<% include ../partials/header %>

<div class="container">
    <h1>Patient Details</h1>

    <form id="edit-patient-form" action="/patients/<%= patient._id %>" method="POST">    
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="firstnameEdit">First Name</label>
                <input type="text" class="form-control" name="patient[firstname]" id="firstnameEdit" value="<%= patient.firstname %>" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="surnameEdit">Surname</label>
                <input type="text" class="form-control" name="patient[surname]" id="surnameEdit" value="<%= patient.surname %>" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="dobEdit">Date of Birth</label>
                <input type="date" class="form-control" name="patient[dob]" id="dobEdit" value="<%= moment(patient.dob).format('YYYY-MM-DD') %>" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="phonenumberEdit">Phone</label>
                <input type="tel" class="form-control" name="patient[phonenumber]" id="phonenumberEdit" value="<%= patient.phonenumber %>" disabled>
            </div>
        </div>
        
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="patient[address]" id="address" value="<%= patient.address %>" disabled>
        </div>    

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="postcode">Postcode</label>
                <input type="text" class="form-control" name="patient[postcode]" id="postcode" value="<%= patient.postcode %>" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="surname">Surname</label>
                <input type="email" class="form-control" name="patient[email]" id="email" value="<%= patient.email %>" disabled>
            </div>
            <div class="form-group col-md-3 align-self-end">
                <div class="btn btn-info" id="edit-patient-button">Edit Patient Details</div>
                <button class="btn btn-success" id="submit-edit-patient-button">Submit</button>
                <div class="btn btn-warning" id="cancel-edit-patient-button">Cancel</div>
            </div>   
        </div>
    </form>

    <div class="row">
        <div class="col-lg">
            <!-- Show Med Hists -->
            <h3>Medical Histories</h3>
            <div class="list-group">
                <% patient.medhists.forEach(function(medhist){ %>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="/patients/<%= patient._id%>/medhists/<%= medhist._id %>"><%= moment(medhist.date_created).format('DD/MM/YYYY') %></a>
                <% }); %>
            </div>
            <a class="btn btn-primary" href="/patients/<%= patient._id%>/medhists/new">New Medical History</a>
        </div>        

        <div class="col-lg">
            <!-- Show Interviews -->
            <h3>Consultations</h3>
            <div class="list-group">
                <% patient.interviews.forEach(function(interview){ %>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="/patients/<%= patient._id%>/interviews/<%= interview._id %>"><%= moment(interview.date_created).format('DD/MM/YYYY') + " " + interview.CO %></a>
                <% }); %>
            </div>
            <a class="btn btn-primary" href="/patients/<%= patient._id%>/interviews/new">New Consultation</a>
        </div>        

        <div class="col-lg">
            <!-- Show Clinicals -->
            <h3>Clinical Sessions</h3>
            <div class="list-group">    
                <% patient.clinicals.forEach(function(clinical){ %>
                    <a class="list-group-item list-group-item-action list-group-item-light" 
                        href="/patients/<%= patient._id%>/clinicals/<%= clinical._id %>"><%= moment(clinical.date_created).format('DD/MM/YYYY') %>
                        <% if(clinical.diag_bool){ %>
                                <%= clinical.diag %>
                        <% } %>    
                    </a>
                <% }); %>
            </div>
            <a  class="btn btn-primary" href="/patients/<%= patient._id%>/clinicals/new">New Clinical Session</a>
        </div>        
    </div><!-- row -->

    <div>
        <a  class="btn btn-warning" href="/patients">Back to Patient Index</a>
    </div>

</div><!-- container -->

<% include ../partials/footer %>
 