<% include ../partials/header %>

<div class="container">
    <h1>Patient Details</h1>
    <div class="row">
        <div class="col-2">

            <div>First Name: </div>
            <div>Surname: </div>
            <div>DOB: </div>
            <div>Address: </div>
            <div>Postcode: </div>
            <div>Phone: </div>
            <div>email: </div>
        
        </div><!-- col -->
        <div class="col-10">
            <div><%= patient.firstname %></div>
            <div><%= patient.surname %></div>
            <div><%= moment(patient.dob).format('DD/MM/YYYY') %></div>
            <div><%= patient.address %></div>
            <div><%= patient.postcode %></div>
            <div><%= patient.phonenumber %></div>
            <div><%= patient.email %></div>
        </div>

    </div><!-- row -->

    <a class="btn btn-info" href="/patients/<%= patient._id%>/edit">Edit Patient Details</a>

    <div class="row">
        <div class="col-lg">
            <!-- Show Med Hists -->
            <h3>Medical Histories</h3>
            <div class="list-group">
                <% patient.medhists.forEach(function(medhist){ %>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="/patients/<%= patient._id%>/medhists/<%= medhist._id %>"><%= moment(medhist.date_created).format('DD/MM/YYYY') %></a>
                <% }); %>
            </div>
            <a class="btn btn-primary" href="/patients/<%= patient._id%>/medhists/new">New Medical History</a>
        </div>        

        <div class="col-lg">
            <!-- Show Interviews -->
            <h3>Consultations</h3>
            <div class="list-group">
                <% patient.interviews.forEach(function(interview){ %>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="/patients/<%= patient._id%>/interviews/<%= interview._id %>"><%= moment(interview.date_created).format('DD/MM/YYYY') + " " + interview.CO %></a>
                <% }); %>
            </div>
            <a class="btn btn-primary" href="/patients/<%= patient._id%>/interviews/new">New Consultation</a>
        </div>        

        <div class="col-lg">
            <!-- Show Clinicals -->
            <h3>Clinical Sessions</h3>
            <div class="list-group">    
                <% patient.clinicals.forEach(function(clinical){ %>
                    <a class="list-group-item list-group-item-action list-group-item-light" 
                        href="/patients/<%= patient._id%>/clinicals/<%= clinical._id %>"><%= moment(clinical.date_created).format('DD/MM/YYYY') %>
                        <% if(clinical.diag_bool){ %>
                                <%= clinical.diag %>
                        <% } %>    
                    </a>
                <% }); %>
            </div>
            <a  class="btn btn-primary" href="/patients/<%= patient._id%>/clinicals/new">New Clinical Session</a>
        </div>        
    </div><!-- row -->

    <div>
        <a  class="btn btn-warning" href="/patients">Back to Patient Index</a>
    </div>

</div><!-- container -->

<% include ../partials/footer %>
 