<% include ../partials/header %>

<h1>Edit Interview for <%= patient.firstname + " " + patient.surname %></h1>

<form action="/patients/<%= patient._id %>/interviews/<%= interview._id %>?_method=PUT" method="POST">
    <input name="interview[CO]" type="text" value="<%= interview.CO %>">
    <input name="interview[onset_num_intervals]" type="number" value="<%= interview.onset_num_intervals %>">
    <input name="interview[onset_interval]" type="number" value="<%= interview.onset_interval %>">
    <input name="interview[onset_reason]" type="text" value="<%= interview.onset_reason %>">
    <input name="interview[agg]" type="text" value="<%= interview.agg %>">
    <input name="interview[rel]" type="text" value="<%= interview.rel %>">
    <input name="interview[dp]" type="text" value="<%= interview.dp %>">
    <input name="interview[ph]" type="text" value="<%= interview.ph %>">
    <input name="interview[invest]" type="text" value="<%= interview.invest %>">
    <input type="submit">
</form>

<% include ../partials/footer %>