<%- include('../partials/header') %>

<div class="container">
    
    <h1 class="mt-3"><%= patient.firstname + " " + patient.surname %></h1>
    <h3><span class="fa fa-comments text-info"></span> Consultation: <%= moment(item.date_created).format('DD/MM/YYYY') %></h3>  

</div>

<!-- if no items remain after delete default to not showing history -->
<% if ((patient.medhists.length + patient.interviews.length + patient.clinicals.length) === 1){ %>
    <form method="POST" action="/patients/<%= patient._id %>/interviews/<%= item.id %>?_method=DELETE&currentView=<%= currentView %>&showHistory=false" id="delete-interview-form" class="delete-form"></form>
<% } else { %>
    <form method="POST" action="/patients/<%= patient._id %>/interviews/<%= item.id %>?_method=DELETE&currentView=<%= currentView %>&showHistory=<%= showHistory %>" id="delete-interview-form" class="delete-form"></form>
<% } %>

<form class="edit-form" id="edit-interview-form" action="/patients/<%= patient.id %>/interviews/<%= item.id %>" method="POST" autocomplete="off">
    
    <div class="container main-container">

        <div class="form-row">

            <div class="inputs-col col-12">

                <div class="row">    
        
                    <div class="form-group col-12">
                        <label for="CO-edit">C/O:</label>
                        <input id="CO-edit" name="CO" type="text" class="form-control" value="<%= item.CO %>" disabled>
                    </div>    
                
                    <div class="form-group col-md-2">
                        <label for="onset-edit">Onset:</label>    
                        <input id="onset-edit" name="onset" type="text" class="form-control" value="<%= item.onset %>" disabled>
                    </div>

                    <div class="form-group col-md-10">        
                        <label for="reason-edit">Reason:</label>
                        <input id="reason-edit" name="reason" type="text" class="form-control" value="<%= item.reason %>" disabled>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="agg-edit">Worse For:</label>        
                        <input id="agg-edit" name="agg" type="text" class="form-control" value="<%= item.agg %>" disabled>
                    </div>
                
                    <div class="form-group col-lg-4">        
                        <label for="rel-edit">Better For:</label>
                        <input id="rel-edit" name="rel" type="text" class="form-control" value="<%= item.rel %>" disabled>
                    </div>
                
                    <div class="form-group col-lg-4">        
                        <label for="dp-edit">Daily Pattern:</label>
                        <input id="dp-edit" name="dp" type="text" class="form-control" value="<%= item.dp %>" disabled>
                    </div>

                    <div class="form-group col-lg-6">        
                        <label for="ph-edit">Previous History:</label>
                        <input id="ph-edit" name="ph" type="text" class="form-control" value="<%= item.ph %>" disabled>
                    </div>

                    <div class="form-group col-lg-6">    
                        <label for="invest-edit">Investigations:</label>
                        <input id="invest-edit" name="invest" type="text" class="form-control" value="<%= item.invest %>" disabled>
                    </div>

                </div>

            </div>

            <% if (showHistory === "true"){ %>
                <!-- common scrollable history feature -->
                <% let scrollHeight="298px"; %>
                <%- include('../partials/history-scroll', {scrollHeight: scrollHeight}) %>
            <% } %>
    
            <!-- Hidden input for signoff -->
            <input class="hidden-signed-off" type="text" name="signed_off" style="display: none" value="<%= item.signed_off %>">
 
        </div>
        
    </div>
    
        <div class="container">

            <div class="form-group col-lg-6 px-0">
                <div class="btn btn-info edit-button signoff-edit-button" id="edit-interview-button">Edit Consultation</div>
                <button class="btn btn-success submit-edit-button" id="submit-edit-interview-button">Save</button>
                <div class="btn btn-warning cancel-edit-button" id="cancel-edit-interview-button">Cancel</div>
                <input type="submit" class="btn btn-danger delete-button" id="delete-interview-button" value="Delete" form="delete-interview-form">
                <div class="btn btn-dark signoff-button" id="signoff-interview-button">Sign Off</div>
            </div>

        </div>

    </div>
    
</form>

<div class="container">

    <div class="d-flex justify-content-between">
        <a class="btn btn-secondary my-2" href="/patients/<%= patient._id %>?currentView=<%= currentView %>&showHistory=<%= showHistory %>">Back to Patient Details</a>
        <% if (showHistory === "false"){ %>
            <a class="btn btn-primary my-2 d-none d-lg-inline history-button" href="/patients/<%= patient._id %>/interviews/<%= item.id %>?currentView=<%= currentView %>&showHistory=true">Show History</a>
        <% } else { %>
            <a class="btn btn-primary my-2 d-none d-lg-inline history-button" href="/patients/<%= patient._id %>/interviews/<%= item.id %>?currentView=<%= currentView %>&showHistory=false">Hide History</a>
        <% } %>
    </div>

</div>

<%- include('../partials/common-scripts') %>
<script>
    const patientId = <%- JSON.stringify(patient._id) %>;
</script>
<script src="/js/history.js"></script>
<script src="/js/edit.js"></script>
<%- include('../partials/footer') %>