<% include ../partials/header %>

<h1>Show Interview for <%= patient.firstname + " " + patient.surname %> on <%= interview.date_created %></h1>

<div><%= interview.CO %></div>
<div><%= interview.onset_num_intervals %></div>
<div><%= interview.onset_interval %></div>
<div><%= interview.onset_reason %></div>
<div><%= interview.agg %></div>
<div><%= interview.rel %></div>
<div><%= interview.dp %></div>
<div><%= interview.ph %></div>
<div><%= interview.invest %></div>
<a class="btn btn-info" href="/patients/<%= patient._id%>/interviews/<%= interview._id %>/edit">Edit<a>
<a class="btn btn-warning" href="/patients/<%= patient._id%>">Back to Patient</a>


<% include ../partials/footer %>